.filter {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__btn {
    padding: 6px 22px;

    border: 0;
    border-radius: 4px;

    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--filter-btn-color);
    color: var(--secondary-title-color);

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--first-title-color);
        background-color: var(--accent-text-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
