.logo {
    margin-right: 93px;

    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.logo__dark {
    color: var(--secondary-title-color);
}

.logo {
    display: inline-block;

    margin-bottom: 20px;
}

.logo__light {
    color: var(--first-title-color);
}
