:root {
    --first-title-color: #ffffff;
    --main-background-color: #2f303a;
    --secondary-background-color: #e5e5e5;
    --filter-btn-color: #f5f4fa;
    --secondary-title-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --main-border-color: #ececec;
    --card-border-color: #eeeeee;
    --icon-back-ground: #f5f4fa;
    --social-link-color: #afb1b8;
}
